@page
@model Apple.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="display-2 text-center">Payment Successful!</h1>
        <img src="~/images/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon-by-vexels-300x300.png" style="width: 40%" />
    </div>
</div> 
